---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% include base_path %}

<ul style="list-style-position: none; padding-left: 0;">
{% for pub in site.publications reversed %}
  <li>
    <table class="_proj_highlight">
      <tr> 
        <td><a href="{{pub.link}}">{{ pub.title }} </td>
      </tr>
      <tr>
        <td>Authors:</td>
        <td>{{ pub.authors }}</td>
      </tr>
      <tr>
        <td>{{pub.type}}: </td>
        <td>{{ pub.name }}</td>
      </tr>
      <tr>
        <td>{{pub.type}}: </td>
        <td>{{ pub.name }}</td>
        {% if pub.type == "Conference"%}
        <td>{{ pub.location }}</td>
        {% endif %}
      </tr>
    </table>
    </li>
{% endfor %}
</ul>
